.nav {
  display: flex;
  background-color: #41464b;
  box-shadow: -1px 0px 20px 1px;
  margin-bottom: 20px;
  padding: 10px 15px;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  &__group {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  &__icon-text {
    margin: 0;
  }
  &__icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item {
    color: white;
    background-color: transparent;

    &:hover {
      background-color: #2f3336;
      border-radius: 3px;
      color: red;
    }
  }
}
