.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  
}
.gap{
  gap: 10px;
}
.btn {
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
}
.select {
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 600;
  font-size: 14px;
}
.img {
  height: 300px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
